extends layout

block head
  script(src="/js/jquery-2.1.4.min.js")
  link(rel="stylesheet" href="/css/bootstrap.min.css")
  link(rel="stylesheet" href="/css/style.css")
  script(src="/js/bootstrap.min.js")
  script(src="/bower_components/chart.js/dist/Chart.bundle.min.js")

block content
  .container.row
      h2 Hey, #{name} ! Welcome to our project
      button.button-right.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
  .container
    .row
      .col-md-9.col-lg-9.col-sm-12
        .panel.panel-default
          .panel-heading Metrics
          .panel-body.panel-body-center
            canvas(width="400", height="400")#metrics
      .col-md-3.col-lg-3.col-sm-12
          .panel.panel-default
            .panel-heading Add a metric
            .panel-body 
              form(method="get")
                .form-group.row
                  .col-xs-2.col-form-label X
                  .col-xs-10
                    input(class="form-control" , type="x" , value="42" , id="x")
                .form-group.row
                  .col-xs-2.col-form-label Y
                  .col-xs-10
                    input(class="form-control" , type="y" , value="42" , id="y")
                .form-group.row
                  .col-lg-offset-4.col-lg-6
                    button(type='submit' , class='btn btn-primary') Add

      .col-md-3.col-lg-3.col-sm-12
          .panel.panel-default
            .panel-heading Remove a metric
            .panel-body
              form#delete-form
                select(name="metric")#select-metric
                input(value="Delete").btn.btn-danger#delete-button


    script
      :coffee-script

        $.ajax(
          type: 'get'
          url: '/user-metrics/',
          headers:{
            'X-HTTP-Method-Override', 'get'
          }
        ).done((data) ->
          
        )

        graphData = []
        chart = {}


        refreshForm = (array) ->
          $('#select-metric').empty()
          for k in array
            x = Math.random() * 20
            $('#select-metric').append("<option value='" + k.id + "'>" + x + "</option>")
          $('#delete-form').css("display":"flex")

        drawGraph = () ->
          values = [1,2,2,4,-2,15,0]
          colors = [75,255,192]
          x = [0,1,2,3,4,5,6]


          refreshForm(graphData)
          ctx = document.getElementById('metrics')
          chart = new Chart(ctx,
            type: 'line'
            data:
              labels: x
              datasets: [ {
                label: 'Value'
                data: values
                fill: false
                backgroundColor: "rgba("+colors+",0.4)"
                borderColor: "rgba("+colors+",1)"

              } ]
            options:
              responsive: true
              maintainAspectRatio: true

          )


            


        drawGraph()


        

        


