extends layout

block content
  .container
    .jumbotron.headerLogin.col-md-offset-3.col-md-6.col-lg-offset-3.col-lg-6
      #form
        p Please enter your IDs
        form#login(action='/login', method="post")
          .form-group
            label Username :
            input(type='text', name="username").pull-right.col-md-offset-1
          .form-group
            label Password :
            input(type='password', name="password").pull-right.col-md-offset-1
          

          button#login_submit.btn.btn-success.btn-block(type='submit')
            
            |  Connect to your account
        form(action='/signup', method="get")
          button.btn.btn-primary.btn-block(type='submit') Create a new account